.welcomeRight{
  position:relative;
}
.welcome{
  font-size: 14rem;
  font-family:"Mak";
}

.item {
  width: 100%;
  height: 500px;
  background: url(https://static.wixstatic.com/media/879330_256c498602b34f3597b78c4e9cb92f8b~mv2_d_1667_2500_s_2.jpg/v1/fill/w_749,h_1124,al_c,q_90,usm_0.66_1.00_0.01/879330_256c498602b34f3597b78c4e9cb92f8b~mv2_d_1667_2500_s_2.webp) center no-repeat;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.container{
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background:rgba(255,255,255,0.5);

  background: black;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  z-index: -10;
}