.welcome{
  font-size: 14rem;
  font-family:"Mak";
  position:relative;
  font:"rgb(215, 128, 156)";
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.container{
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;

  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  z-index: -10;
}

.about {
  font-family: "Mak";
}
